version: 2.1
executors:
  base-node:
    environment:
      FOO: bar
    docker:
      - image: poetapp/base:10.14.2-alpine 

jobs:
  build:
    executor: base-node
    steps:
      - checkout
      - restore_cache:
          key: v1-{{ checksum "package-lock.json" }}
      - run:
          name: Install deps
          command: npm install
      - save_cache:
          key: v1-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules

  lint:
    executor: base-node
    steps:
      - checkout
      - restore_cache:
          key: v1-{{ checksum "package-lock.json" }}
      - run:
          name: Lint
          command: npm run lint

  package:
    executor: base-node 
    steps:
      - checkout
      - restore_cache:
          key: v1-{{ checksum "package-lock.json" }}
      - run:
          name: Build dist
          command: npm run build

  coverage:
    executor: base-node 
    steps:
      - checkout
      - restore_cache:
          key: v1-{{ checksum "package-lock.json" }}
      - run:
          name: Build dist
          command: npm run coverage

  release:
    executor: base-node 
    steps:
      - checkout
      - restore_cache:
          key: v1-{{ checksum "package-lock.json" }}
      - run:
          name: Build dist
          command: npx semantic-release

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - lint:
          requires:
            - build
      - package:
          requires:
            - build
      - release:
          context: semver
          requires:
            - package
          filters:
            branches:
              only: master
